page-chart {
  .button.customBtn{
    width:150px;
}
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translate3d(0,0,0);
    }

    25% {
      -webkit-transform: translate3d(0,-30%,0);
    }

    50% {
      -webkit-transform: translate3d(0,0,0);
    }

    75% {
      -webkit-transform: translate3d(0,-30%,0);
    }

    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }

  .bounce-animation {
    -webkit-animation: bounce ease-in 1;
    animation: bounce ease-in 1;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
  }
  @-webkit-keyframes listGrow {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 0);
  }
}

.list-grow-animation {
  -webkit-animation: listGrow ease-in 1;
  animation: listGrow ease-in 1;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
}
